#fastapi==0.104.1
#uvicorn[standard]==0.24.0
python-multipart==0.0.32
python-dotenv==1.2.2         # 用于加载 .env 文件
#pydantic==2.5.0
dashscope>=1.14.0             # 阿里云百炼 SDK
#Pillow==10.1.0                # 保留以备后续处理图片
sqlalchemy
python-jose[cryptography]>=3.3.0    # 生成和验证 JWT（JSON Web Token）
passlib[bcrypt]>=1.7.4      # 密码哈希加密（bcrypt 算法）